body{
  background: pink;
}

form label{
  display:  block;
  font-size: 20px;
  color:blue;
}
form input{
  display: block;
  background: black;
  color:white;
  font-weigh: bold;
}
table{
  background:light blue;
}
thead {

background: #555555;

color: white;

font-weight: bold;

}
td {

border: 1px solid #000000;

border-color:black;

}
td, th {

border: 1px solid #000000;

border-color:black;

}
